@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

body {
  background: white;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before {
  position: absolute;
  content: " ";
  height: 4px;
  width: 100%;
  background: #2a68ff;
  bottom: -10px;
  color: #2a68ff;
}

.icon {
  cursor: pointer;
}

.card {
  background: #dbd4d4;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .menu {
    gap: 16px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .menu {
    gap: 24px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .menu {
    gap: 32px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .menu {
    gap: 40px;
  }
}
